<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniClips</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />

</head>
<body>
<div class="box">
  <div class="row header">
    <ul>    
        <li><a href="/">Home</a></li>
        <li><a href="/characters">Characters</a></li>

        {{#if loggedin}}
        <li style="float:right"><a href="/logout">Logout</a></li>
        {{else}}
        <li style="float:right"><a href="/login">Login</a></li>
        <li style="float:right"><a href="/signup">Signup</a></li>
        {{/if}}
    </ul>
  </div>
  <div class="row content">
    {{{ body }}}
  </div>
    <div class="row footer">
        <a>
            Terms and conditions
        </a>
  </div>    
</div>
</body>
</html>