
<div class="search">
    <h2>AniClips</h2>   
    <p>Providing the best quality clips of your favourite anime characters and more!</p>
        		<form action="/search" method="post">
				<label for="search">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="search" placeholder="Search.." id="search" required>
				<input type="submit" value="submit">
			</form>
</div>
